@import url(font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background: #FFFFFF;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; 
}

.nav__list{
    list-style: none;
    display: flex;
}

.nav__link{
    color:#101828;
    text-decoration: none;
    font-family: 'worksans';
    font-weight: 400;
    font-size: 17px;
    padding-left: 18px;
    transition: .2s linear;
}

.nav__link:hover{
    color: #006D77;
    transition: .2s linear;
    text-shadow: 0px 0px 10px #101828; 
}


.nav__block button{
    color: white;
    background: #101828;
    width: 135px;
    height: 40px;
    font-family: 'worksans';
    font-weight: 400;
    font-size: 16px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: .2s linear;
    
}

.nav__block button:hover{
    color: #101828;
    background: none;
    border: 2px solid #006D77;
    transition: .2s linear;
    box-shadow: 0px 0px 10px #D47300;
}

/* navigatsiya end */

/* header starts */

.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.header__block h4{
    font-size: 25px;
    font-family: 'worksans';
    font-weight: 700;
    opacity: .5;
}

.header__text{
    font-size: 45px;
    font-family: 'worksans';
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__lorem{
    font-size: 16px;
    font-family: 'merriweather';
    font-weight: 400;
    opacity: .7;
}

.header__block button{
    color: white;
    background: #101828;
    width: 165px;
    height: 40px;
    font-family: 'worksans';
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s linear;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header__block button:hover{
    color: #101828;
    background: none;
    border: 2px solid black;
    transition: .3s linear;
    box-shadow: 0px 0px 10px #220202;
}

.header__box{
    position: relative;
    display: flex;
}

.header__img{
    position: absolute;
    display: flex;
}

.header__title{
    margin-left: 10px;
}

.header__img1{
    display: flex;
    position: absolute;
    left: 220px;
}

.header__img2{
    position: absolute;
    right: 110px;
}

.header__circle1{
    position: absolute;
    right: 0;
    top: -60px;
}

.header__circle2{
    position: absolute;
    bottom: 0;
}

.header__circle3{
    position: absolute;
    right: 330px;
}


.header__circle4{
    position: absolute;
    bottom: -70px;
    right: -125px;
}

.header__console{
    display: flex;
    justify-content: space-evenly;
    margin-top: 160px;
    
}

.header__arcade{
    display: flex;
    width: 350px;
    height: 100px;
    border: 1px solid #e4e7ec;
    padding: 15px;
    
}

.header__arcade h1{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 700;
}

.header__arcade p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    opacity: .7;
}

/* header ends */

/* main starts */

.main__title{
    text-align: center;
    padding: 80px;
    font-size: 45px;
    font-family: 'worksans';
    font-weight: 700;
}

.main__game{
    display: flex;
    justify-content: space-evenly;
}

.main__block{
    width: 250px;
    border: 1px solid #E4E7EC;
    padding: 15px;
    margin-bottom: 25px;
}

.main__img{
    width: 220px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__block h4{
    font-size: 12px;
    font-family: 'worksans';
    font-weight: 400;
}

.main__block h1{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__block i{
    color: #FFD166;
    margin-bottom: 10px;
}

.main__box{
    display: flex;
    justify-content: space-between;
}

.main__box p{
    color: #006D77;
    font-size: 18px;
    font-family: 'worksans';
    font-weight: 700;
}

.main__box button{
    background: #BEE1E6;
    color: #006D77;
    width: 65px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.main__box button:hover{
    color: #101828;
    background: none;
    border: 2px solid #006D77;
    transition: .2s linear;
    box-shadow: 0px 0px 10px #006D77;
}

.main__explore{
    margin-top: 100px;
}

.main__explore h1{
    text-align: center;
    font-style: 50px;
    font-family: 'worksans';
    font-weight: 700;
}

.main__explore p{
    text-align: center;
    font-style: 16px;
    font-family: 'merriweather';
    font-weight: 400;
    opacity: .7;
    margin-top: 20px;
}


.main__number{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    border-bottom: 1px solid grey;
}

.main__number img{
    padding-top: 30px;
}


.main__number{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    border-bottom: 1px solid grey;
}

.main__number img{
    padding-top: 30px;
}

.main__popular{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px;
    margin-top: 60px;
}

.main__categories{
    border: 1px solid #D1DAE8;
    padding: 30px;
}

.main__categories h1{
    font-style: 30px;
    font-family: 'worksans';
    font-weight: 700;
}

.main__categories p{
    font-style: 16px;
    font-family: 'worksans';
    font-weight: 400;
    opacity: .7;
    margin-top: 30px;
}

.main__stage{
    display: flex;
}

.main__art{
    margin-right: 30px;
    position: relative;
}

.main__art i{
    padding: 10px;
    background: #CEE5D9;
    border-radius: 30px;
}

.main__position{
    width: 305px;
    position: absolute;
    top: 230px;
    right: 200px;
}

.main__pc{
    border: 1px solid #D1DAE8;
    margin-top: 30px;

}

.main__pc h1{
    color: #323A4B;
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 600;
    padding: 20px;
}

.main__pc i{
    margin-right: 8px;
}

.main__btn button{
    color: #E29578;
    background: #FFF3EA;
    width: 165px;
    height: 40px;
    font-family: 'worksans';
    font-weight: 400;
    font-size: 16px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    transition: .3s linear;
    margin-top: 150px;
    margin-bottom: 40px;
    margin-left: 500px;
}

.main__btn button:hover{
    color: #9f5e2c;
    background: none;
    border: 2px solid rgb(172, 110, 22);
    transition: .3s linear;
    box-shadow: 0px 0px 10px #220202;
}

.cross__box{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    position: relative;
}

.cross__png{
    position: absolute;
    top: 150px;
    left: 255px;
}

.cross__png2{
    position: absolute;
    top: 150px;
    left: 650px;
}

.cross__png3{
    position: absolute;
    top: 360px;
    left: 950px;
}

.cross__png4{
    position: absolute;
    top: 600px;
    left: 450px;
}

.main__cross h1{
    text-align: center;
    font-size: 50px;
    font-family: 'worksans';
    font-weight: 700;
}

.cross__block{
    width: 285px;
    height: 320px;
    background: #FFF3EA;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.cross__block h4{
    font-size: 32px;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cross__block p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    text-align: center;
    opacity: .7;
}

.cross__block img{
    margin-left: 95px;
    margin-top: 60px;
}

.cross__block2{
    width: 285px;
    height: 320px;
    background: #FDE2E4;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.cross__block2 h4{
    font-size: 32px;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cross__block2 p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    text-align: center;
    opacity: .7;
}

.cross__block2 img{
    margin-left: 95px;
    margin-top: 60px;
}

.cross__block3{
    width: 285px;
    height: 320px;
    background: #DBECE5;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.cross__block3 h4{
    font-size: 32px;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cross__block3 p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    text-align: center;
    opacity: .7;
}

.cross__block3 img{
    margin-left: 95px;
    margin-top: 60px;
}

.cross__box2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.cross__block4{
    width: 285px;
    height: 320px;
    background: #DBECE5;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.cross__block4 h4{
    font-size: 32px;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cross__block4 p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    text-align: center;
    opacity: .7;
}

.cross__block4 img{
    margin-left: 95px;
    margin-top: 60px;
}


.cross__block5{
    width: 285px;
    height: 320px;
    background: #D1ECFD;
    margin-top: 60px;
    margin-right: 20px;
    border-radius: 10px;
}

.cross__block5 h4{
    font-size: 32px;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cross__block5 p{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    text-align: center;
    opacity: .7;
}

.cross__block5 img{
    margin-left: 95px;
    margin-top: 60px;
}

.newsletter__content{
    background: #006D77;
    border-radius: 12px;
    box-shadow: 0px 7px 20px 0px #00000026;
    height: 400px;
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 40px;
    position: relative;
}

.newsletter__content h1{
    color: white;
    font-size: 40px;
    font-family: 'worksans';
    font-weight: 400;
}

.newsletter__content p{
    color: white;
    font-size: 16px;
    font-family: 'merriweather';
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .7;
}

.newsletter__content input{
    font-size: 16px;
    width: 360px;
    height: 60px;
    border-radius: 40px;
    border: none;
    padding: 20px;
}

.newsletter__content i{
    background: #006D77;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 810px;
    top: 215px;
}

.newsletter__content a{
    color: white;
}

.newsletter__img2{
    position: absolute;
    left: 800px;
    top: 50px;
}

.newsletter__img{
    position: absolute;
    top: 180px;
    left: 650px;
}
/* main end */

/* FOOTER STARTS */

.footer__block{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    border-bottom: 2px solid #D6D8DD;
    padding-bottom: 50px;
}

.footer__block button{
    font-size: 16px;
    color: white;
    background: #101828;
    width: 225px;
    height: 45px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.footer__block button:hover{
    color: black;
    border: none;
    background: none;
    transition: .2s linear;
}

.footer__text{
    border-bottom: 2px solid #D6D8DD;
    margin-bottom:  40px;
    display: flex;
    justify-content: space-between;
}

.footer__box h1{
    font-size: 20px;
    font-family: 'worksans';
    font-weight: 700;
    margin-top: 50px;
}

.footer__box p{
    font-size: 16px;
    opacity: .7;
    font-family: 'worksans';
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer__box h2{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
    margin-bottom: 15px;
}

.footer__box a{
    font-size: 16px;
    font-family: 'worksans';
    font-weight: 400;
}

.footer__ul{
    list-style: none;
    margin-bottom: 15px;
}

.footer__li{
    text-decoration: none;
}

.footer__box i{
    opacity: .7;
    padding-right: 10px;
    margin-bottom: 40px;
}

.footer__price{
    margin-top: 50px;
}

.footer__price h1{
    font-size: 20px;
    font-family: 'worksans';
    font-weight: 700;
}

.footer__list{
    list-style: none;
    padding-top: 10px;
}

.footer__list li{
    margin-top: 8px;
}

.footer__link{
    color: #969696;
    text-decoration: none;
}

.footer__end{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__end h1{
    font-size: 20px;
    opacity: .7;
    font-family: 'worksans';
    font-weight: 400;
}

.footer__end p{
    font-size: 20px;
    opacity: .7;
    font-family: 'worksans';
    font-weight: 400;
}


/* FOOTER END */